include ../_mixins/mixin-lang-card

section.no-padding-top
  .container 
    .row
      .col-sm-12
        h1.section-title Populære sprog
        .row
          .col-sm-12.col-md-3
            +lang-card('Spansk')
          .col-sm-12.col-md-3
            +lang-card('Engelsk')
          .col-sm-12.col-md-3
            +lang-card('Fransk')
          .col-sm-12.col-md-3
            +lang-card('Italiensk')