include ../_mixins/mixin-card

section
  .container 
    .row
      .col-sm-12
        h1.section-title Populære sprog
        .row
          .col-sm-12.col-md-3
            +card('Spansk')
          .col-sm-12.col-md-3
            +card('Engelsk')
          .col-sm-12.col-md-3
            +card('Fransk')
          .col-sm-12.col-md-3
            +card('Italiensk')