include ../_mixins/mixin-secondary-button

mixin lang-card(cardTitle, text)
  .card
    a(href="")
      .img-overlay 
      .img-lg
        img(src="https://images.unsplash.com/photo-1549987506-72e5fcb6163c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1653&q=80" alt="placeholder")
        .img-xs
          img(src="https://images.unsplash.com/photo-1494419470281-65c2b001a42b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1531&q=80" alt="placeholder")
      .card-text 
        h2= cardTitle

        if text
          p= text

      +secondary-button('Se mere')

  if block
    block