extends _layouts/home

block head_end
	link(rel="stylesheet" href="/css/style.css") 
	link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
	link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous") 

block content
	include _components/menu
	//- include _components/header
	include _components/split-hero
	include _components/text-banner
	include _views/current-cards
	include _components/quote-slider
	include _components/video
	include _views/language-cards
	include _components/news-letter
	include _components/divider
	include _components/footer

block body_end
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous")
	script(type="text/javascript" src="/js/script.js")