section.grey-bg
	footer
		.container
			.footer__info
				.row
					.col-sm-12.col-md-4.col-lg-3
						h3 Studieskolen
						ul
							li Borgergade 12
							li 1300 København K.
							li +45 33 18 79 00
							li info@studieskolen.dk
					.col-sm-12.col-md-4.col-lg-3
						h3 Åbningstider
						ul
							li Mandag til onsdag 10-16
							li Torsdag 10-18 (10-16 i skoleferier)
							li Fredag 10-14
					.col-sm-12.col-md-1.col-lg-3
					.col-sm-12.col-md-3.col-lg-3
						h3 Find os på
						ul.footer__info--media
							li(href="") Linkdin
							li(href="") Facebook
							li(href="") Twitter
							li(href="") Instagram