section.no-padding-bottom.grey-bg
	footer
		.container
			.footer-info
				.row
					.col-sm-12.col-md-3
						h4 Studieskolen
						p
							| Borgergade 12 <br>
							| 1300 København K. <br>
							| +45 33 18 79 00 <br>
							| info@studieskolen.dk
					.col-sm-12.col-md-3
						h4 Åbningstider
						p
							| Mandag til onsdag 10-16 <br>
							| Torsdag 10-18 (10-16 i skoleferier) <br>
							| Fredag 10-14
					.col-sm-12.col-md-3
					.col-sm-12.col-md-3
						h4 Find os på
						ul
							li(href="") Linkdin
							li(href="") Facebook
							li(href="") Twitter
							li(href="") Instagram
		.subfooter
			.container
				.row
					.col-sm-12.col-lg-4
						a.logo(href='/')
							img(src="/assets/images/logo.png" alt="placeholder")
					.col-sm-12.col-lg-4.links
						ul.links
							li Cookies
							li Persondatapolitik
				
