section
	footer
		.container
			.row
				.col-sm-12.col-md-3
					h4 Studieskolen
					p
						| Borgergade 12
						| 1300 København K.
						| +45 33 18 79 00
						| info@studieskolen.dk
				.col-sm-12.col-md-3
					h4 Åbningstider
					p
						| Mandag til onsdag 10-16
						| Torsdag 10-18 (10-16 i skoleferier)
						| Fredag 10-14
				.col-sm-12.col-md-3
				.col-sm-12.col-md-3
					h4 Find os på
					ul
						li(href="") Linkdin
						li(href="") Facebook
						li(href="") Twitter
						li(href="") Instagram
		.subfooter
			.container
				.row
					.col-sm-12.col-lg-4.subfooter_links
				
