header
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-logo(href="#") 
      img(src="/assets/images/logo.png" alt="placeholder")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href="#") Lær dansk
        li.nav-item
          a.nav-link(href="#") Fremmedsprog
        li.nav-item.active
          a.nav-link(href="#") Business sprogkurser
        li.nav-item.active
          a.nav-link(href="#") Om studieskolen
    .navbar-extra
      .nav-burger
        span Menu
        .burger
      .nav-search
        span Søg
        .icon-serach
      .nav-language
        span en