nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="#") Navbar w/ text
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarText
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href="#") Lær dansk
      li.nav-item
        a.nav-link(href="#") Fremmedsprog
      li.nav-item.active
        a.nav-link(href="#") Business sprogkurser
      li.nav-item.active
        a.nav-link(href="#") Om studieskolen
    span.navbar-text Navbar text with an inline elemen