include ../_mixins/mixin-card
include ../_mixins/mixin-primary-button

section.no-padding-bottom.grey-bg
  .news-letter
    .container
      .row
        .col-sm-12
          h1.section-title Nyhedsbrev
      .row
        .col-sm-12.col-md-6
          .box.left
            h2 Tilmeld nyhedsbrev
            p 
              | Vil du være sikker på, at du er opdateret med vores spændene kurser og arrangementer?
              | Så abonner på vores nyhedsbrev. Vi sender kun, når vi har noget at fortælle.
        .col-sm-12.col-md-6
          .box.right.dark-red-bg
            h2 Din information
            form(action='/', method='POST')
              input(type='text', name='name', value='', placeholder='Navn*')
              input(type='email', name='email', value='', placeholder='E-mail*')
              +primary-button('Tilmeld')
