include ../_mixins/mixin-card
include ../_mixins/mixin-primary-button

section.no-padding-bottom.grey-bg
  .newsletter
    .container
      .row
        .col-sm-12
          h1.section-title Nyhedsbrev
      .row
        .col-sm-12.col-md-6
          .box.white-bg
            h2 Tilmeld nyhedsbrev
            p 
              | Vil du være sikker på, at du er opdateret med vores spændene kurser og arrangementer?
              | Så abonner på vores nyhedsbrev. Vi sender kun, når vi har noget at fortælle.
        .col-sm-12.col-md-6
          .box.dark-red-bg
            h2 Din information
            form(name="contentForm" enctype="multipart/form-data" method="" action="" role="form" data-toggle="validator" novalidate="true")
              .form.schedule-assessment
                .row
                  .form-group.col-md-12
                    input(name="full_name" id="full_name" placeholder="Name*" type="text" value="" required="required" data-error="Indtast navn.")
                    .help-block.with-errors
                .row
                  .form-group.col-md-12
                    input(name="email" id="email" placeholder="Email*" type="email" value="" required="required" data-error="Indtast email.")
                    .help-block.with-errors
                .form-group
                  .submit-container
                    .submit-btn
                      input.submit.center-block.btn(value="Tilmeld" type="submit")
                      .svg-arrowright
                        svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve")
                          g(id="arrow-forward")
                            polygon(points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204 		")



            
        
    
   
       
