section.peach-bg
  .quote-slider
    .container
      .row
        .col-sm-12
          .wrapper
            ul.owl-carousel
              li
                img(src="http://placehold.it/1300x780" alt="")
              li
                img(src="http://placehold.it/1300x780" alt="")
              li
                img(src="http://placehold.it/1300x780" alt="")

          h1.section-title Hvad siger kuristerne?
        .col-sm-12
          .row.quote-container
            .col-xs-12

            //-   .speech-slider
            //-     #owl-demo.owl-theme.owl-loaded.owl-drag
            //-       .item
            //-         h4 1
            //-       .item
            //-         h4 2
            //-       .item
            //-         h4 3
            //-     .owl-dots
            //-       .owl-dot.active
            //-         span
            //-       .owl-dot
            //-         span
            //-       .owl-dot
            //-         span
            //-     </div>
    
            //- .col-xs-12.col-md-8 
            //-   .image-quote
            //-     img(src="https://images.unsplash.com/photo-1549987506-72e5fcb6163c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1653&q=80" alt="placeholder")

  