section.no-padding-bottom.margin-bottom.peach-bg
  .quote
    .container
      .row
        .col-sm-12.no-padding
          h1.section-title Hvad siger kuristerne?
      .row.quote__container
        .col-xs-12.col-md-11.col-lg-8.quote__col--image
          .quote__image
            img(src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="placeholder")
        .col-xs-12.col-md-10.col-lg-6.quote__col--quote
          .quote__bubble
            .quote__bubble--list.dark-peach-bg
              ul.owl-carousel
                li
                  .item
                    p.quote__bubble--text 
                      | The school has an excellent recomendation from other students: all of the aspects, 
                      | like course offerings, timing of the classes, location are very positive. The materials are also very good.
                    .quote__bubble--line
                    .quote__bubble--triangle
                      .quote__bubble--line--inverted
                    p.quote__bubble--sender  
                      | Weronrika Magda Majewska, Poland, module 4
                li
                  .item
                    p.quote__bubble--text 
                      | The school has an excellent recomendation from other students: all of the aspects, 
                      | like course offerings, timing of the classes, location are very positive. The materials are also very good.
                    .quote__bubble--line
                    .quote__bubble--triangle
                      .quote__bubble--line--inverted
                    p.quote__bubble--sender 
                      | Weronrika Magda Majewska, Poland, module 4
                li
                  .item
                    p.quote__bubble--text 
                      | The school has an excellent recomendation from other students: all of the aspects, 
                      | like course offerings, timing of the classes, location are very positive. The materials are also very good.
                    .quote__bubble--line
                    .quote__bubble--triangle
                      .quote__bubble--line--inverted
                    p.quote__bubble--sender 
                      | Weronrika Magda Majewska, Poland, module 4