include ../_mixins/mixin-secondary-button

.split-hero
	.row
		.col-sm-12.col-md-6
			.hero-container
				figure
					.speech-container.left
						.speech
							h1 Intresseret i Dansk
							p Vi tilbyder intensive danskkurser i hjertet af København - for begyndere og fortsættere, morgen, middag og aften.
							+secondary-button('Se mere')
					img(src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="placeholder")
		.col-sm-12.col-md-6
			.hero-container
				figure
					.speech-container.right
						.speech
							h1 Intresseret i Dansk
							p Vi tilbyder intensive danskkurser i hjertet af København - for begyndere og fortsættere, morgen, middag og aften.
							+secondary-button('Se mere')
					img(src="https://images.unsplash.com/photo-1527760597554-c1a5e72f7e70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="placeholder")