section.dark-white-bg
  .text-banner
    .container
      .row
        .col-sm-12
          h1.section-title Om Studieskolen
          .rich-text
            p 
              | <b>Studieskolen har siden 1977 undervist i sporg, udviklet didaktik inden for sprogundervisningen og værnet om fremmedsprogenes betydning.</b>
              | I dag underviser Studieskolen årligt mere end 8.000 professionelle, expats og private i mere end 30 sprog.
      .row
        .col-sm-12
          .btn
            p.btn-text Se mere
