include ../_mixins/mixin-secondary-button

section.no-padding-bottom.margin-bottom.red-bg
  .video
    .container
      .row
        .col-sm-12
          h1.section-title Grammatik
      .row.quote-conatiner
        .col-sm-12.col-md-8.video
          .quote-image
            img(src="https://images.unsplash.com/photo-1549987506-72e5fcb6163c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1653&q=80" alt="placeholder")
        .col-sm-12.col-md-6.quote
          .speech-container
            .speech
              h1.section-title Grammatik for dummies
              .rich-text
                p 
                  | Lær grammatik med Thomas Skov - se seks små videoer om danskgrammatik
                  | og test dig selv. I videoerne lærer Thomas Skov om ordklasser, subject (grundled),
                  | verballed (udsagnsled), object (genstandsled), ordforråd og udtale.
              +secondary-button('Læs mere')