include ../_mixins/mixin-secondary-button

section.no-padding-bottom.margin-bottom.red-bg
  .video
    .container
      .row
        .col-sm-12.no-padding
          h1.section-title Grammatik
      .row.video__container
        .col-xs-12.col-md-11.col-lg-8.video__col--image
          .video__image
            button(type="button" class="bmd-modalButton" data-toggle="modal" data-bmdSrc="https://www.youtube.com/embed/GEvrlIKXN0U" data-bmdWidth="640" data-bmdHeight="480" data-target="#myModal"  data-bmdVideoFullscreen="true")
              img(src="https://images.unsplash.com/photo-1549987506-72e5fcb6163c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1653&q=80" alt="placeholder")
              .video__image--svg
                svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1200px" height="1200px" viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200" xml:space="preserve")
                  path(fill="#BD1F44" d="M600.014,50.011C296.732,50.011,50,296.736,50,600.002c0,303.27,246.732,549.986,550.014,549.986 c303.254,0,549.986-246.695,549.986-549.986C1150,296.744,903.282,50.011,600.014,50.011z")
                  path(fill="#FFFFFF" d="M443.651,889.066V310.945L873.509,600.01L443.651,889.066z M462.955,347.201v505.602L838.909,600.01 L462.955,347.201z")
            .modal.fade#myModal
              .close-button
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content.bmd-modalContent
                  .modal-body
                    .embed-responsive.embed-responsive-16by9
                      iframe.embed-responsive-item(frameborder="0")
        .col-xs-12.col-md-10.col-lg-6.video__col--quote
          .video__bubble
            .video__bubble--text.white-bg
              h1.section-title Grammatik for dummies
              .rich-text
                p 
                  | Lær grammatik med Thomas Skov - se seks små videoer om danskgrammatik
                  | og test dig selv. I videoerne lærer Thomas Skov om ordklasser, subject (grundled),
                  | verballed (udsagnsled), object (genstandsled), ordforråd og udtale.
              +secondary-button('Læs mere')