/* ------ Buttons ----- */

/* ------ Primary btn ----- */
.primary-btn {
  padding-top: 70px;
  width: 170px;

  .primary-btn__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: auto;
    border: none;
    justify-content: center;
    padding-right: 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 200;
    color: $color-white !important;
    text-decoration: none;
    transition: background-color .3s cubic-bezier(.5, .0, .5, 1);
    cursor: pointer;
    background-color: $color-medium-red;

    .primary-btn__svg {
      position: absolute;
      right: 35px;
      top: 18px;
    }

    svg {
      height: 15px;
      width: 15px;
      fill: #ffff !important;
      transition: margin-right 0.25s ease-in-out;
    }

    &:hover {
      svg{
        margin-right: -10px;
        transition: margin-right 0.25s ease-in-out;
      }
    }
  }
}

/* ------ Secondary btn ----- */
.secondary-btn {
  display: flex;
  position: relative;
  padding: 0 !important;
  text-align: left !important;
  width: 100px;
  height: 45px;

  .btn-text {
    position: absolute;
    color: $color-medium-red;
    font-size: 14px;
    margin-bottom: 0;
    bottom: 6px;
  }

  &:after {
    position: absolute;
    width: 100px;
    height: 1px;
    background: red;
    content: "";
    bottom: 0;
    left: 0;
    transition: width 0.25s ease-in-out;
  }

  &:hover{
    &:after{
      width: 60px;
      transition: width 0.25s ease-in-out;
    }
  }
}

