/* ------ Card ----- */
.card {
  border: 0 !important;
  
  @media (max-width: 766px) {
    padding-bottom: 70px;
  }

  a {
    &:hover {
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.20;
        z-index: 1;
        background-color: $color-black;
        transition: background-color .3s cubic-bezier(.5, .0, .5, 1);
      }
    }
  }

  .overlay {
    transition: background-color .3s cubic-bezier(.5, .0, .5, 1);
  }

  img {
    width: 100%;
    border: 0;
    display: block;
    object-fit: cover;
  }

  .img-overlay {
    width: 100%;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }

  .card-text {
    padding-top: 20px;
    margin-left: 40px;
  }
  
  .secondary-btn {
    margin-left: 40px;
  }

  .img-lg {
    position: relative;

    .img-xs {
      position: absolute;
      bottom: -20px;
      right: 20px;

      img {
        border-radius: 50%;
        height: 20%;
        width: 20%;
      }
  
    }

  }


}



.cards {
  display: flex;
}