/* ------ Footer ----- */
footer {

  .footer-info {
    margin-bottom: 30px;

    ul {
      padding: 0;

      li {
        list-style-type: none;
      }
    }
  }

  .subfooter {
    background-color: $color-white;
    padding: 20px 0;

    .logo {
      width: 195px;
      position: absolute;
      img {
        position: absolute;
        width: 100%;
        top: -10px;
      }
    }

    .links {
      display: flex;
      flex-direction: row;  
      text-align: center;

      li {
        list-style-type: none;
        color: #AAAAAA;
        font-size: 14px;
        line-height: 26px;
        margin-left: 20px;
      }
    }
  }
    
}