/* ------ Global ----- */
@import "includes/variables";

/* ------ Fonts ----- */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* ------ Typography ----- */

body {
  font-family: 'Roboto', sans-serif;
  color: #555;
  font-size: 100%;
  line-height: 1.5;
  background-color: #f2f2f2;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500 !important;
  font-size: 40px !important;
  color: $color-black;
  line-height: 50px !important;

  &.section-title {
    margin-bottom: 30px !important;
    color: $color-dark-red;
    font-size: 22px !important;
    line-height: 36px !important;
  }
}

h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px !important;
  text-decoration: none;
  color: $color-black;
  font-size: 26px !important;
  line-height: 34px !important;
}

h3 {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: $color-red;
  font-size: 14px !important;
}

p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  color: $color-black;
  font-size: 16px;
  line-height: 26px;
}

a:hover {
  text-decoration: none !important;
}

/* ------ Padding & margins ----- */
.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.margin-bottom {
  margin-bottom: 100px;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* ------ Normalize ----- */
*,
*:after,
*:before {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

/* ------ Colored backgrounds ----- */
.dark-red-bg {
  background-color: $color-dark-red;
  color: $color-white;

  h1, h2 {
    color: $color-white !important;
  }
}

.white-bg {
  background-color: $color-white;

  h1, h2 {
    color: $color-dark-red !important;
  }

  p {
    color: $color-black !important;
  }

  .secondary-btn {
    .btn-text {
      color: $color-red !important; 
    }

    &:after {
      background-color: $color-red !important; 
    }
  }
}

.red-bg {
  background-color: $color-red;

  h1, p {
    color: $color-white;
    font-weight: 200 !important;
  }

  .secondary-btn {
    &:after {
      background-color: $color-white;
    }
  }
}

.peach-bg {
  background-color: $color-peach;
}

.drak-peach-bg {
  background-color: $color-dark-peach;
}

.grey-bg {
  background-color: $color-grey;
}

/* ------ Section ----- */
section {
  height: auto;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

ul {
  margin-bottom: 0 !important;
}