/* ------ Global ----- */
@import "includes/variables";

/* ------ Fonts ----- */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

/* ------ Typography ----- */

body {
  font-family: 'Raleway', Arial, sans-serif, ;
  color: #555;
  font-size: 100%;
  line-height: 1.5;
  background-color: #f2f2f2;
  margin: 0;
}

h1 {

}

h2 {
  margin-bottom: 15px;
  text-decoration: none;
  color: $color-black;
  font-size: 26px;
  line-height: 34px;
}

p {
  margin-bottom: 10px;
  color: $color-black;
  font-size: 16px;
  line-height: 26px;
}

/* ------ Padding & margins ----- */
.no-padding-bottom {
  padding-bottom: 0 !important;
}

.margin-bottom {
  margin-bottom: 100px;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* ------ Normalize ----- */
*,
*:after,
*:before {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

/* ------ Colored backgrounds ----- */
.dark-red-bg {
  background-color: $color-dark-red;
  color: $color-white;
}

.red-bg {
  background-color: $color-red;
}

.peach-bg {
  background-color: $color-peach;
}

.drak-peach-bg {
  background-color: $color-dark-peach;
}

.grey-bg {
  background-color: $color-grey;
}

/* ------ Section ----- */
section {
  height: auto;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;

  .section-title {
    margin-bottom: 30px;
    color: $color-dark-red;
    font-size: 22px;
    line-height: 36px;
  }
}

ul {
  margin-bottom: 0 !important;
}


