/* ------ Header ----- */
header {
  width: 100%;
  z-index: 100;
  height: 100px;
  background-color: #FFFFFF;

  .navbar {
    z-index: 10;
    padding: 30px;
  }

  .conatainer {
    margin: 0;
    padding: 0;
  }

  .navbar-logo {
    width: 195px;
    position: absolute; 

    img {
      position: absolute;
      width: 100%;
      top: -10px;
    }
  }

  .dropdown {

    :after {
      display: none;
    }

    &.show {
      &.line:after {
        position: absolute;
        width: 100%;
        height: 4px;
        background: red;
        content: "";
        top: -30px;
        left: 0;
        transition: width 0.25s ease-in-out;
      }
    }

    button:focus {
      outline: 0 !important;
    }

    .btn {
      position: relative;
      border: 0;
      border-radius: 0;
      margin: 0 14px;
      padding: 0;
    }

    .dropdown-menu {
      position: absolute;
      width: 250px;
      border: 0;
      border-radius: 0;
      top: 68px;
      padding: 30px;
      margin: 0;
      left: -15px;

      .dropdown-item {
        padding: 5px 0;
      }
    }

  }

  .navbar-container {
    width: 100%;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @media only screen and (max-width: 1250px) {
      display: none;
    }

    .nav-link {
      margin: 0 14px;
      color: #000000;
      font-size: 16px;
      line-height: 24px;

    }
  }

  svg {
    transform: scaleX(-1);
    width: 30px;
  }
}

nav.menu-secondary {
  pointer-events: none;
  z-index: 100;
  width: 100%;

  > .navlist {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;

    .menu-item {
      padding-left: 40px;
    }
  }

  span {
    color: #425C6E;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }

  .menu-link {
    span {
      color: #425C6E;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      padding-right: 15px;
    }

    &.burger-link {
      display: flex;
      flex-direction: row;
      padding-right: 30px;
      height: 30px;
      align-items: center;
      position: relative;

      span {
        padding-right: 20px;
      }

      .burger {
        position: absolute;
        right: 30px;
        top: 5px;
      }

      &:hover {
        .burger-line {
          &:nth-child(2) {
            transform: translateX(0) translateY(9px) scaleX(1);
          }
        }
      }

      .burger-line {
        background-color: $color-grey-blue;
        height: 2px;
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;
        transition: transform .15s $aniease;

        &:nth-child(1) {
          transform: translateY(0);
        }

        &:nth-child(2) {
          transform: translateX(0) translateY(9px) scaleX(0.7);
        }

        &:nth-child(3) {
          transform: translateX(0) translateY(18px) scaleX(0.5);
        }

        .active-menu & {
          &:nth-child(1) {
            transform: rotate(45deg) translateX(-4px) translateY(-14px);
          }

          &:nth-child(2) {
            width: 23px;
            transform: translateX(5px) translateY(9px);
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translateX(-19px) translateY(27px);
          }
        }
      }
    }
  }
}

.secondary-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


