/* ------ Header ----- */
header {
  width: 100%;
  z-index: 100;
  height: 100px;
  background-color: #FFFFFF;

  .conatainer {
    margin: 0;
    padding: 0;
  }

  .navbar-logo {
    height: 6px;
    width: 195px;
    position: absolute;
    margin: 27px 39px 41px 30px;

    img {
      position: absolute;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .navbar-container {
    width: 100%;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .menu-secondary {
    right: 0;
    position: absolute;
    flex-direction: row;
    display: flex;
  }
}

nav.menu-secondary {
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  transition: width 0 var(--aniease);
  transition-delay: var(--anitime);
  z-index: 100;

  > .navlist {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    padding: 0 var(--padding-site-desktop);
    margin: 0;
    list-style-type: none;

    > li {
      display: flex;
      justify-content: flex-end;
      pointer-events: auto;
      padding-top: var(--menu-top-margin);

      @media (--mq-mobile-only) {
        padding-top: 23px;
      };
    }
  }

  .menu-link {
    opacity: 1;
    transition: opacity var(--anitime) var(--aniease);
    position: absolute;
    right: 0;
    color: inherit;

    &[data-menu="search"] {
      opacity: 1;
      transition: opacity var(--anitime) var(--aniease);
    }

    .active-menu & {
      &[data-menu="search"] {
        opacity: 0;
      }
    }

    &.burger-link {
      z-index: 17;
      width: 33px;
      height: 21px;
      overflow: hidden;
      display: block;
      color: inherit;
      transition: transform var(--anitime);
      position: absolute;

      @media (--mq-tablet) {
        position: relative;
      }

      &:hover {
        .burger-line {
          &:nth-child(2) {
            transform: translateX(0) translateY(9px) scaleX(1);
          }
        }
      }

      .burger-line {
        background-color: $color-grey-blue;
        height: 2px;
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;
        transition: transform .15s $aniease;

        &:nth-child(1) {
          transform: translateY(0);
        }

        &:nth-child(2) {
          transform: translateX(0) translateY(9px) scaleX(0.7);
        }

        &:nth-child(3) {
          transform: translateX(0) translateY(18px) scaleX(0.5);
        }

        .active-menu & {
          &:nth-child(1) {
            transform: rotate(45deg) translateX(-4px) translateY(-14px);
          }

          &:nth-child(2) {
            width: 23px;
            transform: translateX(5px) translateY(9px);
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translateX(-19px) translateY(27px);
          }
        }
      }
    }
  }
}




