/* ------ News letter ----- */
.newsletter {

  .newsletter__box {
    padding: 40px;
    height: 100%;

    &.dark-red-bg  {
      padding-bottom: 0;
    }
  }

  input {
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #ffff;
    padding-bottom: 10px;
    padding-top: 10px;

    &::placeholder{
      color: #ffff;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      height: 65px;
    }

    input[type="text"], input[type="email"] {
      color: $color-white;
      width: 100%;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 10px;
      font-size: 16px;
    }

    .has-error input[type="text"], 
    .has-error input[type="email"] {
      border-bottom: 2px solid $color-red;
    }

    li {
      color: $color-red;
    }

    .submit-container {
      position: absolute;
      bottom: 0;
    }

    .submit-btn {
      justify-content: center;
      width: 170px;
      position: relative;
      display: flex;
      height: 58px;
      border: none;
      padding-right: 20px;
      letter-spacing: 2px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 200;
      text-decoration: none;
      transition: background-color 0.3s cubic-bezier(0.5, 0, 0.5, 1);
      cursor: pointer;
      background-color: #fff;

      .submit {
        color: $color-red;
      }
      
      .svg-arrowright {
        position: absolute;
        right: 30px;
        top: 16px;
        
        svg {
          height: 15px;
          width: 15px;
          fill: $color-red !important;
          transition: margin-right 0.25s ease-in-out;
        }
      }
      
      &:hover {
        svg{
          margin-right: -10px;
          transition: margin-right 0.25s ease-in-out;
        }
      }  
    }
  }
}