/* ------ News letter ----- */
.news-letter {

  .news-letter-container {
    display: flex;
    flex-direction: row;

    .col-sm-12 ,.col-md-6 {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

  }

  .box {
    padding: 40px;
    height: 100%;

    &.dark-red-bg  {
      padding-bottom: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      background-color: transparent;
      border: 0;
      outline: 0;
      border-bottom: 2px solid #ffff;
      padding-bottom: 10px;
      padding-top: 10px;

      &::placeholder{
        color: #ffff;
      }
    }
  }

  .primary-btn {
    padding-top: 50px;

    .primary-link {
      background-color: #ffff;
      color: #BD1F44 !important;

      svg {
        fill: #BD1F44 !important;
      }
    }

  }

}