/* ------ Quote slider ----- */
.quote {
  margin-bottom: 170px;

  @media only screen and (max-width: 575px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 0;
    padding-bottom: 70px;
  }

  .quote__col--quote {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;

    @media only screen and (max-width: 767px) {
      position: relative;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .quote__col--image {
    position: absolute;
    left: 0;
    top: 25px;

    @media only screen and (max-width: 767px) {
      position: relative;
      top: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .quote__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 440px;

    @media only screen and (max-width: 767px) {
      height: 100%;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      height: 540px;
    }
  }

  .quote__image {
    position: absolute;
    left: 0;
    top: -25px;

    @media only screen and (max-width: 767px) {
      position: relative;
      top: 0;
      margin-bottom: 30px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      top: 150px;
    }

    @media (min-width: 991px) and (max-width: 1199px) {
      top: 40px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .owl-carousel {
    list-style: none;
    padding: 0;
  }

  .owl-dots {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0px;
  }

  .owl-dot {
    outline:0;

    &.active {
      span {
        background-color: #FFFFFF;
      }
    }

    span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      transition: opacity 200ms ease;
      border-radius: 30px;
      background: transparent;
      border: 1px solid #FFFFFF;
    }
  }


  .quote__bubble {
    top: 90px;
    position: absolute;
    width: 100%;

    @media only screen and (max-width: 767px) {
      position: relative;
    }

    @media only screen and (max-width: 991px) {
			left: 0;
    }
    
    @media only screen and (max-width: 1199px) {
      top: 0;
    }

  
    .quote__bubble--text  {
      font-size: 22px;
      line-height: 36px;
      font-family: italic;
      color: #FFFFFF;

      @media only screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
      
    .quote__bubble--sender  {
      color: #FFFFFF;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0 !important;

      @media only screen and (max-width: 767px) {
        font-size: 12px;
      }
    }

    .quote__bubble--line {
      height: 2px;
      background-color: #FFFFFF;
      width: 100%;
      margin: 20px 0;
    }
    
    .quote__bubble--triangle {
      position: relative;
      top: -22px;
      left: 35px;
      width: 0;
      border-top: solid 34px #FFFFFF;
      border-right: solid 44px transparent;
      border-left: solid 0px transparent;
    
      .quote__bubble--line--inverted{
        position: absolute;
        bottom: 5px;
        left: 2px;
        width: 0;
        border-top: solid 31px #FF9A65;
        border-right: solid 42px transparent;
        border-left: solid 0px transparent;
      }
    }

    .quote__bubble--list {
      position: relative;
      background-color: #FF9A65;
      padding: 40px;

      @media (max-width: 766px) {
        padding: 15px;	
      }
  
      &:after {
        position: absolute;
        content: "";
        width: 0px;
        height: 0px;
        border-top: 30px solid #FF9A65;
        border-right: 40px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 0px solid transparent;
        bottom: -54px;
        left: 50px;
      }
    }
  }
}