/* ------ Split hero ----- */
.splithero {
	width: 100%;
	overflow: hidden;
	position: relative;

	@media (max-width: 766px) {
		height: auto;
	}

	.col-sm-12, .col-md-6 {
		padding-right: 0;
    padding-left: 0;
	}

	figure {
		margin: 0;
		position: relative;
    overflow: hidden;

		@media (max-width: 766px) {
			position: relative;
			padding: 0px;
			height: 250px;
			width: 100%;
		}

		img {
			height: calc(100vh - 100px);
			width: 100%;
			border: 0;
			display: block;
			object-fit: cover;
		}

		.splithero__speech__container {
			padding-bottom: 70px;
			position: absolute;
			width: 70%;
			bottom: 0;

			@media (max-width: 766px) {
				width: 80%;
				padding-right: 15px;
				padding-left: 15px;
				bottom: 0;
				padding-bottom: 25px;
			}

			p {
				@media (max-width: 766px) {
					display: none;
				}
			}
			
			.btn-text {
				@media (max-width: 766px) {
					display: block;
				}
			}

			&.left {
				right: 45px;
				color: $color-white;
				@media (max-width: 766px) {
					right: 10%;	
				}

				p {
					color: $color-white;
				}

				.splithero__speech {
					&:before {
						border-bottom: 30px solid $color-red;
					}
					&:after {
						border-top-color: $color-red;
					}
				}
			}

			&.right {
				left: 45px;	
				@media (max-width: 766px) {
					left: 10%;	
				}
			}

			.splithero__speech {
				position: relative;
				padding: 40px;

				@media (max-width: 766px) {
					padding: 15px;	
				}

				&:before {
					content: "";
					position: absolute;
					display: none;
					width: 0px;
					height: 0px;
					border-bottom: 30px solid white;
					border-right: 0px solid transparent;
					border-top: 25px solid transparent;
					border-left: 40px solid transparent;
					top: -55px;
					right: 50px;

					@media (max-width: 766px) {
						display: block;	
					}
				}
			
				&:after {
					content: '';
					position: absolute;
					width: 0px;
					height: 0px;
					border-top: 30px solid white;
					border-right: 0px solid transparent;
					border-bottom: 25px solid transparent;
					border-left: 40px solid transparent;
					top: 100%;
					right: 50px;

					@media (max-width: 766px) {
						display: none;	
					}
				}
			}
		}
	}
}