/* ------ Sub footer ----- */
.subfooter {
  background-color: $color-white;
  padding: 30px 0;

  .subfooter__logo {
    width: 195px;
    position: absolute;
    img {
      position: absolute;
      width: 100%;
      top: -10px;
    }
  }

  .subfooter__links {
    display: flex;
    flex-direction: row;  
    text-align: center;
    padding: 0 0 0 7px;

    ul {
      @media only screen and (max-width: 991px) {
        position: absolute;
        top: 70px;
        padding-bottom: 30px;
      }
    }

    li {
      list-style-type: none;
      color: #AAAAAA;
      font-size: 14px;
      line-height: 26px;
      margin-right: 20px;
    }
  }
}