/* ------ Text banner ----- */
.text-banner {

  @media (max-width: 766px) {
    padding: 0 15px 0 15px
  }

  .section-title {
    margin-bottom: 0;

    @media (max-width: 766px) {
      margin-bottom: 20px;
    }
  }

  .rich-text {
    width: 70%;
    padding: 30px;

    @media (max-width: 766px) {
      width: 100%;
      padding: 0;
    }
  }
}