/* ------ Variables ----- */
$color-black: #000000;
$color-white: #ffff;
$color-dark-red: #660029;
$color-medium-red: #DD1C48;
$color-red: #BD1F44;
$color-grey: #F4F4F4;
$color-grey-blue: #425C6E;
$color-peach: #FFEBE0;
$color-dark-peach: #FF9A65;

$anitime: .3s;
$aniease: cubic-bezier(.5, .0, .5, 1);