/* ------ Video ----- */
.video {
  margin-bottom: 170px;

  .quote {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
  }

  .video {
    position: absolute;
    right: 0;
    top: 25px;
  }

  .quote-conatiner {
    position: relative;
    display: flex;
    align-items: center;
    height: 440px;
  }

  .quote-image {
    position: absolute;
    left: 0;
    top: -25px;

    img {
      width: 100%;
      object-fit: cover;
    }

    button {
      padding: 0;
      border: 0;
    }

    .video__svg {

      svg {
        position: absolute;
        height: 80px;
        top: 40%;
        left: 40%;
        width: 80px;
      }
    }
  }

  .speech-container {
    top: 90px;
    position: absolute;
    width: 100%;

    @media (max-width: 766px) {
      width: 80%;
      padding-right: 15px;
      padding-left: 15px;
      bottom: 0;
      padding-bottom: 25px;
    }
  
    .quote-text {
      font-size: 22px;
      line-height: 36px;
      font-family: italic;
      color: #FFFFFF;
    }
      
    .quote-sender {
      color: #FFFFFF;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0 !important;
    }

    .speech {
      position: relative;
      background-color: #ffff;
      padding: 40px;

      @media (max-width: 766px) {
        padding: 15px;	
      }
  
      &:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 30px solid #ffff;
        border-right: 0px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 40px solid transparent;
        top: 100%;
        right: 50px;
      }
    }
  }
}

.modal {
  background-color: rgba(102,0,41,0.5);
}

.modal-body {
  padding: 0 !important;
}

.modal-content {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}