/* ------ Video ----- */
.video {
  margin-bottom: 170px;

  @media only screen and (max-width: 575px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 0;
    padding-bottom: 70px;
  }

  .video__conatiner{
    position: relative;
    display: flex;
    align-items: center;
    height: 440px;

    @media only screen and (max-width: 767px) {
      height: 100%;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      height: 540px;
    }

  }

  .quote {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;

    @media only screen and (max-width: 767px) {
      position: relative;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .image {
    position: absolute;
    right: 0;
    top: 25px;

    @media only screen and (max-width: 767px) {
      position: relative;
      top: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .quote-image {
    position: absolute;
    left: 0;
    top: -25px;

    @media only screen and (max-width: 767px) {
      position: relative;
      top: 0;
      margin-bottom: 30px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      top: 150px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      top: 40px;
    }

    button {
      border: none;
      padding: 0;
    }

    svg {
      position: absolute;
      transform: translateY(-50%) translatex(-50%);
      top: 50%;
      position: absolute;
      margin-left: 0%;
      padding: 0;
      z-index: 15;
      width: 100px;
      transition: 0.25s ease-in-out;
    }

    &:hover {

      svg {
        width: 120px;
        height: 120px;
        transition: 0.25s ease-in-out;
      }
      
    }

    img {
      width: 100%;
      object-fit: cover;
    }

  }

  .speech-container {
    top: 90px;
    position: absolute;
    width: 100%;

    @media only screen and (max-width: 767px) {
      position: relative;
    }

    @media only screen and (max-width: 991px) {
			left: 0;
    }
    
    @media only screen and (max-width: 1199px) {
      top: 0;
    }

  
    .quote-text {
      font-size: 22px;
      line-height: 36px;
      font-family: italic;
      color: #FFFFFF;

      @media only screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
      
    .quote-sender {
      color: #FFFFFF;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0 !important;

      @media only screen and (max-width: 767px) {
        font-size: 12px;
      }
    }

    .speech {
      position: relative;
      padding: 40px;

      @media (max-width: 766px) {
        padding: 15px;	
      }
  
      &:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 30px solid $color-white;
        border-right: 0px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 40px solid transparent;
        top: 100%;
        right: 50px;
      }
    }
  }
}

.modal {
  background-color: rgba(102,0,41,0.5);

  .close {
    color: #FFFFFF;
    text-shadow: none;
    font-size: 50px;
    font-weight: 200;
    position: absolute;
    right: 30px;
    top: 10px;
  }
}

.modal-body {
  padding: 0 !important;
}

.modal-content {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}