.primary-button {
  padding-top: 70px;
  width: 170px;
}

.primary-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: auto;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 200;
  color: #ffff !important;
  text-decoration: none;
  transition: background-color .3s cubic-bezier(.5, .0, .5, 1);
  cursor: pointer;
  margin: 2px 2px 0 0;
  background-color:  #DD1C48;

  .svg-arrowright {
    position: absolute;
    right: 15px;
    top: 18px;
  }

  svg {
    height: 15px;
    width: 15px;
    fill: #ffff !important;
    transition: margin-right 0.25s ease-in-out;
  }

  &:hover {
    svg{
      margin-right: -10px;
      transition: margin-right 0.25s ease-in-out;
    }
  }

  &:hover{
    background-color: #DD1;
  }
}

