.card {
  border: 0 !important;
  
  @media (max-width: 766px) {
    padding-bottom: 70px;
  }

  
  img {
    width: 100%;
    border: 0;
    display: block;
    object-fit: cover;
  }

  .img-overlay {
    width: 100%;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }

  .card-text {
    padding-top: 20px;
    margin-left: 40px;
  }
}

.cards {
  display: flex;
}